<div class="col-md-4 col-xs-6 text-center">
  <div class="book">
    <p><%= show_cover book %></p>
    <div class="textbox">
      <p class="text"><h3 style="color=black;"><%= show_book_title book %></h3></p>
      <p class="text center"><span class="stars"><%= book.rate %></span></p>
      <% if user_signed_in? %>
      <p class="form-inline">
        <div class="dropdown">
          <%= link_to "#", class: "dropdown-toggle btn btn-default",
            data: {toggle: "dropdown", role: "button"},
            aria: {haspopup: "true", expanded: "false"} do %>
            <span id="current_mark_of_book_<%= book.id %>">
              <% if @read_books && @read_books.include?(book) %>
                <%= t :read %>
              <% elsif @reading_books && @reading_books.include?(book)%>
                <%= t :reading %>
              <% else %>
                <%= t ".mark" %>
              <% end %>
            </span>
            <span class="caret" ></span>
          <% end %>
          <ul class="dropdown-menu" >
            <li>
              <%= label_tag "", class: "mark-item",
                onclick: "markBookAs(#{book.id}, true);" do %>
                <i class="glyphicon glyphicon-tasks"></i>
                <%= t :read %>
                <% if @read_books && @read_books.include?(book) %>
                  <i class="pull-right glyphicon glyphicon-ok"
                    id="<%= "mark-true-#{book.id}" %>"></i>
                <% else %>
                  <i class="pull-right" id="<%= "mark-true-#{book.id}" %>">
                  </i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= label_tag "", class: "mark-item",
                onclick: "markBookAs(#{book.id}, false);" do %>
                <i class="glyphicon glyphicon-bookmark"></i>
                <%= t :reading %>
                <% if @reading_books && @reading_books.include?(book) %>
                  <i class="pull-right glyphicon glyphicon-ok"
                    id="<%= "mark-false-#{book.id}" %>"></i>
                <% else %>
                  <i class="pull-right" id="<%= "mark-false-#{book.id}" %>">
                  </i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </p>
    <% end %>
    </div>    
  </div>
</div>
