<div class="col-md-3 col-xs-0 text-center book-cover">
  <%= show_cover @book %>
</div>
<div class="col-md-9 col-xs-12">
  <div class="book-description col-xs-12">
    <div class="row">
      <div class="book-info col-md-6 col-xs-12">
        <h2 class="book-title">
          <%= @book.title %>
        </h2>
        <p>
          <%= t ".category" %>
          <b><%= @book.name %></b>
        </p>
        <p>
          <%= t ".author" %>
          <b> <%= @book.author %></b>
        </p>
        <p>
          <%= t ".number_of_pages" %>
          <b> <%= @book.number_of_pages %></b>
        </p>
        <p id="votes">
          <i class="glyphicon glyphicon-user"></i>
          <%= t ".votes", votes: @book.reviews.size %>
        </p>
      </div>
      <div class="col-xs-0 col-md-6 book-introduce panel panel-info">
        <h5 class="panel panel-header"><%= t ".introduce" %></h5>
        <p>
          <%= show_book_introduce @book %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <span class="stars"><%= @book.rate %></span>
      </div>
      <div class="col-md-6 col-xs-12">
        <% if user_signed_in? && @book.bought %>
          <% if @favorite %>
            <%= label_tag "", id: "btn-ft-#{@book.id}", class: "btn btn-warning",
              onclick: "unfavorite(#{@favorite.id}, #{@book.id});" do %>
              <i class="glyphicon glyphicon-bookmark"></i>
              <%= t ".favorite" %>
            <% end %>
          <% else %>
            <%= label_tag "", id: "btn-ft-#{@book.id}",
              class: "btn btn-info", onclick: "favorite(#{@book.id});" do %>
              <i class="glyphicon glyphicon-bookmark"></i>
              <%= t ".favorite" %>
            <% end %>
          <% end %>
          <%= link_to "#", data: {toggle: "modal", target: "#review-modal"},
            class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-edit" ></i>
            <%= t ".review" %>
          <% end %>
          <%= link_to "#", class: "dropdown-toggle btn btn-default",
            data: {toggle: "dropdown", role: "button"},
            aria: {haspopup: "true", expanded: "false"} do %>
            <span id="current_mark_of_book_<%= @book.id %>">
              <% if current_user.books.read.include?(@book) %>
                <%= t :read %>
              <% elsif current_user.books.reading.include?(@book)%>
                <%= t :reading %>
              <% else %>
                <%= t ".mark" %>
              <% end %>
            </span>
            <span class="caret" ></span>
          <% end %>
          <ul class="dropdown-menu" >
            <li>
              <%= label_tag "", class: "mark-item",
                onclick: "markBookAs(#{@book.id}, true);" do %>
                <i class="glyphicon glyphicon-tasks"></i>
                <%= t :read %>
                <% if current_user.books.read.include?(@book) %>
                <i class="pull-right glyphicon glyphicon-ok"
                    id="<%= "mark-true-#{@book.id}" %>"></i>
                <% else %>
                  <i class="pull-right" id="<%= "mark-true-#{@book.id}" %>">
                  </i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= label_tag "", class: "mark-item",
                onclick: "markBookAs(#{@book.id}, false);" do %>
                <i class="glyphicon glyphicon-bookmark"></i>
                <%= t :reading %>
                <% if current_user.books.reading.include?(@book) %>
                  <i class="pull-right glyphicon glyphicon-ok"
                    id="<%= "mark-false-#{@book.id}" %>"></i>
                <% else %>
                  <i class="pull-right" id="<%= "mark-false-#{@book.id}" %>">
                  </i>
                <% end %>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? && @book.bought %>
  <div class="modal fade" id="review-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h3 class="modal-title glyphicon glyphicon-user">
            <%= t ".reviews" %>
          </h3>
        </div>
        <div class="modal-body">
          <%= render "reviews/form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">
            <%= t ".close" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
