<% provide :title, t(".title", name: @book.title) %>
<div class="row">
  <div class="container book-background">
    <%= render "book_info", book: @book %>
  </div>
</div>
<div class="row">
  <div class="panel panel-info col-md-12 col-xs-12">
    <div class="panel-heading ">
      <%= t ".introduce" %>
    </div>
    <div class="panel-body">
      <%= @book.introduce.html_safe %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-xs-12">
    <h2><%= t ".reviews" %></h2>
  </div>
  <div class="book-introduce pull-right col-md-10 col-xs-12">
    <% if @reviews && @reviews.any? %>
      <div class="row">
        <%= render @reviews %>
      </div>
      <div class="row pull-right">
        <%= paginate @reviews, theme: "twitter-bootstrap-3" %>
      </div>
    <% end %>
  </div>
</div>
