<div class="media well">
  <div class="pull-left" href="#">
      <%= show_avatar review.user, Settings.avatar_min_size %>
  </div>
  <div class="media-body">
      <h4 class="media-heading">
        <%= link_to review.user.name, "#" %>
        <small>
          <%= t :rate %>
        </small>
        <span class="review-rate">
          <%= review.rate %>
        </span>
        <small><%= t :time_ago, time: time_ago_in_words(review.created_at) %></small>
      </h4>
      <p>
        <%= link_to truncate(review.title,
          length: Settings.length_sub_title, separator: " "), review %>
      </p>
      <p>
        <i class="glyphicon glyphicon-comment"></i>
        <%= t".comment", size: review.comments.size %>
      </p>
      <% if can? :update, review %>
        <%= link_to t(:edit), edit_review_path(review),
          class: "btn btn-warning" %>
        <%= link_to t(:delete), review_path(review), method: :delete,
          class: "btn btn-danger" %>
      <% end %>
  </div>
</div>
