<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag Settings.default_icon %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="system-messages col-md-4 col-xs-12 pull-right" id="flash-messages">
        <%= render "layouts/flash", messages: flash %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
